{{ form_start(form) }}
<div class="card-body">
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Ip :</label>
        <div class="col-sm-7">
            {{ form_widget(form.ip, { 'attr': { 'class': 'form-control', 'placeholder': 'Ip de la Computadora' } }) }}
        </div>
        <div class="col-2">
            {% if(form_errors(form.ip)) %}
                <div class="buttons">
                    <a href="#" class="btn btn-icon btn-warning" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ form_errors(form.ip)  }}"><i
                                class="fas fa-exclamation-triangle"></i></a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Mac :</label>
        <div class="col-sm-7">
            {{ form_widget(form.mac, { 'attr': { 'class': 'form-control', 'placeholder': 'Mac de la Computadora' } }) }}
        </div>
        <div class="col-2">
            {% if(form_errors(form.mac)) %}
                <div class="buttons">
                    <a href="#" class="btn btn-icon btn-warning" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ form_errors(form.mac)  }}"><i
                                class="fas fa-exclamation-triangle"></i></a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Departamento :</label>
        <div class="col-sm-7">
            {{ form_widget(form.departamento, { 'attr': { 'class': 'form-control', 'placeholder': 'Departamento' } }) }}
        </div>
        <div class="col-2">
            {% if(form_errors(form.departamento)) %}
                <div class="buttons">
                    <a href="#" class="btn btn-icon btn-warning" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ form_errors(form.departamento)  }}"><i
                                class="fas fa-exclamation-triangle"></i></a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="card-footer text-right">
    <button type="submit" class="btn btn-primary mr-2">{{ button_label|default('Añadir IP') }}</button>
    <a class="btn btn-light" href="{{ path('tablaip_index') }}">Volver al Listado</a>
</div>
{{ form_end(form) }}