<section class="py-5 circle-blend circle-blend-right-feature circle-cyan" id="feature">
        <div class="bg-holder" style="background-image:url({{ asset('page/portada/public/assets/img/illustrations/feature-bg.png') }});background-position:right;background-size:auto;">
        </div>
        <!--/.bg-holder-->

        <div class="container">
            <div class="row justify-content-center mb-6">
                <div class="col-lg-6 text-center mx-auto mb-3 mb-md-5 mt-4">
                    <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Features</h5>
                    <p class="mb-0">We provide a number of excellent features that will undoubtedly improve the user experience. We also provide a better support system</p>
                </div>
            </div>
            <div class="row circle-blend circle-blend-left-feature circle-primary">
                <div class="col-md-4 mb-6">
                    <div class="text-center px-lg-3">
                        <div class="icon-wrapper shadow-danger">
                            <div class="icon icon-danger"><span data-feather="mail"></span></div>
                        </div>
                        <h5 class="mt-3 fw-bold">Encrypted Mail</h5>
                        <p class="mb-md-0 px-xxl-6">A process of encrypting email communications</p>
                    </div>
                </div>
                <div class="col-md-4 mb-6">
                    <div class="text-center px-lg-3">
                        <div class="icon-wrapper shadow-primary">
                            <div class="icon icon-primary"><span data-feather="monitor"></span></div>
                        </div>
                        <h5 class="mt-3 fw-bold">Display Sharing</h5>
                        <p class="mb-md-0 px-xxl-6">With other participants, you may share your screen</p>
                    </div>
                </div>
                <div class="col-md-4 mb-6">
                    <div class="text-center px-lg-3">
                        <div class="icon-wrapper shadow-warning">
                            <div class="icon icon-warning"><span data-feather="book"></span></div>
                        </div>
                        <h5 class="mt-3 fw-bold">Private Notebook</h5>
                        <p class="mb-md-0 px-xxl-6">Private Notebook is an application that is protected</p>
                    </div>
                </div>
                <div class="col-md-4 mb-6">
                    <div class="text-center px-lg-3">
                        <div class="icon-wrapper shadow-success">
                            <div class="icon icon-success"><span data-feather="tablet"></span></div>
                        </div>
                        <h5 class="mt-3 fw-bold">App App Assistance</h5>
                        <p class="mb-md-0 px-xxl-6">App Assistant is quickly and effectively ran the system</p>
                    </div>
                </div>
                <div class="col-md-4 mb-6">
                    <div class="text-center px-lg-3">
                        <div class="icon-wrapper shadow-secondary">
                            <div class="icon icon-secondary"><span data-feather="printer"></span></div>
                        </div>
                        <h5 class="mt-3 fw-bold">Multiple Printing</h5>
                        <p class="mb-md-0 px-xxl-6">Our canvas prints are crafted on top-notch canvas.</p>
                    </div>
                </div>
                <div class="col-md-4 mb-6">
                    <div class="text-center px-lg-3">
                        <div class="icon-wrapper shadow-info">
                            <div class="icon icon-info"><span data-feather="edit-2"></span></div>
                        </div>
                        <h5 class="mt-3 fw-bold">Free Sketch</h5>
                        <p class="mb-md-0 px-xxl-6">Our canvas prints are crafted on top-notch canvas.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section>
        <div class="bg-holder" style="background-image:url({{ asset('page/portada/public/assets/img/illustrations/product-bg-1.png') }});background-position:center;background-size:cover;">
        </div>
        <!--/.bg-holder-->

        <div class="bg-holder mt-n4" style="background-image:url({{ asset('page/portada/public/assets/img/illustrations/product-bg-2.png') }});background-position:left top;background-size:contain;">
        </div>
        <!--/.bg-holder-->

        <div class="container-xl">
            <div class="row flex-center circle-blend circle-blend-left-product circle-cyan">
                <div class="col-auto">
                    <div class="square shadow-square-bottom">
                        <div class="card product-card-bg">
                            <div class="card-body p-4 h-100"><img class="img-fluid border-img" src="{{ asset('page/portada/public/assets/img/gallery/product.png') }}" width="350" alt="..." /></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 ms-lg-auto my-7 my-lg-0 px-sm-8 px-lg-0 ps-lg-2 ps-xl-0">
                    <h1 class="fw-bold display-5 lh-sm my-4">A creative team which <br> builds stunning UI/UX</h1>
                    <p class="fs-1 mb-3 pe-xxl-8">Today, I'd like to show you some incredible Sign Up screen app UI ideas and concepts that offer a modern user experience.The most stunning, cutting-edge UI/UX.</p>
                    <p class="fs-1 mb-5 pe-xxl-8"> Klean is an elegant HTML5 template and a perfect starting point for your next SaaS oriented site, carefully curated by <span class="fw-bold">ThemeWagon</span></p>
                    <button class="btn btn-lg btn-klean-outline order-0" type="submit"><span class="fw-bold text-gradient">Read More</span></button>
                </div>
            </div>
            <div class="row flex-center pt-10 pt-md-6 pt-lg-10 circle-blend circle-blend-right-dedicated circle-danger">
                <div class="col-auto ms-lg-auto order-md-1 text-center">
                    <div class="square shadow-square-top">
                        <div class="card product-card-bg">
                            <div class="card-body p-4"><img class="img-fluid border-img" src="{{ asset('page/portada/public/assets/img/gallery/dedicate.png') }}" width="350" alt="..." /></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-0 ms-xl-auto my-7 my-xl-0 px-sm-8 px-lg-3 px-xl-0 me-xl-auto ps-xl-0">
                    <h1 class="fw-bold display-5 lh-sm my-4">Devoted to defining <br> the cutting edge.</h1>
                    <p class="fs-1 mb-3 pe-xxl-8">"This new creation is cutting-edge technology," says the researcher, "whose study originates from a business at the forefront of space science."</p>
                    <p class="fs-1 mb-5 pe-xxl-8">Klean is a free Bootstrap 5 template for multipurpose landing pages. This design is a perfect choice, carefully curated by <span class="fw-bold">ThemeWagon</span></p>
                    <button class="btn btn-lg btn-klean-outline order-0" type="submit"><span class="fw-bold text-gradient">Read More</span></button>
                </div>
            </div>
        </div>
    </section>