<section class="py-7">

        <div class="container">
            <div class="bg-holder" style="background-image:url({{ asset('page/portada/public/assets/img/illustrations/project-bg.png') }});background-position:right;background-size:auto;">
            </div>
            <!--/.bg-holder-->
            <div class="row justify-content-center circle-blend circle-blend-left-project circle-warning">
                <div class="col-lg-6 text-center mx-auto mb-6">
                    <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Our Projects</h5>
                    <p class="mb-0">A project is a single or team activity, combining research and design with best effort. Here are some of our team's projects </p>
                </div>
                <div class="col-xxl-9">
                    <div class="card project-card-bg mx-auto px-0">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-12 col-md-6 col-lg-4 text-center"><img class="mb-3 mb-lg-3 img-fluid px-xl-0" src="{{ asset('page/portada/public/assets/img/gallery/project-1.png') }}" width="320" alt="project" /><img class="mb-3 mb-lg-0 img-fluid px-xl-0" src="{{ asset('page/portada/public/assets/img/gallery/project-2.png') }}" width="320" alt="project" /></div>
                                <div class="col-12 col-md-6 col-lg-4 text-center"><img class="mb-3 mb-lg-3 img-fluid px-xl-0" src="{{ asset('page/portada/public/assets/img/gallery/project-3.png') }}" width="320" alt="project" /><img class="mb-3 mb-lg-0 img-fluid px-xl-0" src="{{ asset('page/portada/public/assets/img/gallery/project-4.png') }}" width="320" alt="project" /></div>
                                <div class="col-12 col-md-6 col-lg-4 text-center"><img class="mb-3 mb-lg-3 img-fluid px-xl-0" src="{{ asset('page/portada/public/assets/img/gallery/project-5.png') }}" width="320" alt="project" /><img class="mb-3 mb-lg-0 img-fluid px-xl-0" src="{{ asset('page/portada/public/assets/img/gallery/project-6.png') }}" width="320" alt="project" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-auto mx-auto mt-6">
                    <button class="btn btn-lg btn-klean-outline order-0" type="submit"><span class="text-gradient fw-bold">View More  </span></button>
                </div>
            </div>
        </div>
        <!-- end of .container-->

    </section>