{{ form_start(form) }}
<div class="card-body">
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">CI <span class="required">*</span> :</label>
        <div class="col-sm-7">
            {{ form_widget(form.ci, { 'attr': { 'class': 'form-control', 'required': 'required', 'placeholder': 'Carnet de Identidad' } }) }}
        </div>
        <div class="col-2">
            {% if(form_errors(form.ci)) %}
                <div class="buttons">
                    <a href="#" class="btn btn-icon btn-warning" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ form_errors(form.ci)  }}"><i
                                class="fas fa-exclamation-triangle"></i></a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">No. Registro <span class="required">*</span> :</label>
        <div class="col-sm-7">
            {{ form_widget(form.noregistro, { 'attr': { 'class': 'form-control', 'required': 'required', 'placeholder': 'Número de Registro' } }) }}
        </div>
        <div class="col-2">
            {% if(form_errors(form.noregistro)) %}
                <div class="buttons">
                    <a href="#" class="btn btn-icon btn-warning" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ form_errors(form.noregistro)  }}"><i
                                class="fas fa-exclamation-triangle"></i></a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Nombre Personal <span class="required">*</span> :</label>
        <div class="col-sm-7">
            {{ form_widget(form.nombre, { 'attr': { 'class': 'form-control', 'required': 'required', 'placeholder': 'Nombre del Personal Médico' } }) }}
        </div>
        <div class="col-2">
            {% if(form_errors(form.nombre)) %}
                <div class="buttons">
                    <a href="#" class="btn btn-icon btn-warning" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ form_errors(form.nombre)  }}"><i
                                class="fas fa-exclamation-triangle"></i></a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Apellidos <span class="required">*</span> :</label>
        <div class="col-sm-7">
            {{ form_widget(form.apellidos, { 'attr': { 'class': 'form-control', 'required': 'required', 'placeholder': 'Apellidos del Personal Médico' } }) }}
        </div>
        <div class="col-2">
            {% if(form_errors(form.apellidos)) %}
                <div class="buttons">
                    <a href="#" class="btn btn-icon btn-warning" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ form_errors(form.apellidos)  }}"><i
                                class="fas fa-exclamation-triangle"></i></a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Dirección Particular <span class="required">*</span> :</label>
        <div class="col-sm-7">
            {{ form_widget(form.direccionparticular) }}
        </div>
        <div class="col-2">
            {% if(form_errors(form.direccionparticular)) %}
                <div class="buttons">
                    <a href="#" class="btn btn-icon btn-warning" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ form_errors(form.direccionparticular)  }}"><i
                                class="fas fa-exclamation-triangle"></i></a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Teléfono Fijo <span class="required">*</span> :</label>
        <div class="col-sm-7">
            {{ form_widget(form.telefonofijo, { 'attr': { 'class': 'form-control', 'required': 'required', 'placeholder': 'Teléfono Fijo' } }) }}
        </div>
        <div class="col-2">
            {% if(form_errors(form.telefonofijo)) %}
                <div class="buttons">
                    <a href="#" class="btn btn-icon btn-warning" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ form_errors(form.telefonofijo)  }}"><i
                                class="fas fa-exclamation-triangle"></i></a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Cargo <span class="required">*</span> :</label>
        <div class="col-sm-7">
            {{ form_widget(form.nombre, { 'attr': { 'class': 'form-control', 'required': 'required', 'placeholder': 'Nombre del Cargo' } }) }}
        </div>
        <div class="col-2">
            {% if(form_errors(form.nombre)) %}
                <div class="buttons">
                    <a href="#" class="btn btn-icon btn-warning" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ form_errors(form.nombre)  }}"><i
                                class="fas fa-exclamation-triangle"></i></a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Cargo <span class="required">*</span> :</label>
        <div class="col-sm-7">
            {{ form_widget(form.nombre, { 'attr': { 'class': 'form-control', 'required': 'required', 'placeholder': 'Nombre del Cargo' } }) }}
        </div>
        <div class="col-2">
            {% if(form_errors(form.nombre)) %}
                <div class="buttons">
                    <a href="#" class="btn btn-icon btn-warning" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ form_errors(form.nombre)  }}"><i
                                class="fas fa-exclamation-triangle"></i></a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Cargo <span class="required">*</span> :</label>
        <div class="col-sm-7">
            {{ form_widget(form.nombre, { 'attr': { 'class': 'form-control', 'required': 'required', 'placeholder': 'Nombre del Cargo' } }) }}
        </div>
        <div class="col-2">
            {% if(form_errors(form.nombre)) %}
                <div class="buttons">
                    <a href="#" class="btn btn-icon btn-warning" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ form_errors(form.nombre)  }}"><i
                                class="fas fa-exclamation-triangle"></i></a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Cargo <span class="required">*</span> :</label>
        <div class="col-sm-7">
            {{ form_widget(form.nombre, { 'attr': { 'class': 'form-control', 'required': 'required', 'placeholder': 'Nombre del Cargo' } }) }}
        </div>
        <div class="col-2">
            {% if(form_errors(form.nombre)) %}
                <div class="buttons">
                    <a href="#" class="btn btn-icon btn-warning" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ form_errors(form.nombre)  }}"><i
                                class="fas fa-exclamation-triangle"></i></a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Cargo <span class="required">*</span> :</label>
        <div class="col-sm-7">
            {{ form_widget(form.nombre, { 'attr': { 'class': 'form-control', 'required': 'required', 'placeholder': 'Nombre del Cargo' } }) }}
        </div>
        <div class="col-2">
            {% if(form_errors(form.nombre)) %}
                <div class="buttons">
                    <a href="#" class="btn btn-icon btn-warning" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ form_errors(form.nombre)  }}"><i
                                class="fas fa-exclamation-triangle"></i></a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Cargo <span class="required">*</span> :</label>
        <div class="col-sm-7">
            {{ form_widget(form.nombre, { 'attr': { 'class': 'form-control', 'required': 'required', 'placeholder': 'Nombre del Cargo' } }) }}
        </div>
        <div class="col-2">
            {% if(form_errors(form.nombre)) %}
                <div class="buttons">
                    <a href="#" class="btn btn-icon btn-warning" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ form_errors(form.nombre)  }}"><i
                                class="fas fa-exclamation-triangle"></i></a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="card-footer text-right">
    <button type="submit" class="btn btn-primary mr-2">{{ button_label|default('Añadir Personal Médico') }}</button>
    <a class="btn btn-light" href="{{ path('personalmedico_index') }}">Volver al Listado</a>
</div>
{{ form_end(form) }}