{% extends 'base-dashboard.html.twig' %}
{% block title %}Editar Personal Médico{% endblock %}
{% block head %}
    <!-- Select2 -->
    <link rel="stylesheet" href="{{ asset('page/dashboard/assets/bundles/select2/dist/css/select2.min.css') }}">
{% endblock %}
{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-list"></i> Editar Personal Médico</li>
        </ol>
    </nav>

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4><strong>Editar</strong> Personal Médico</h4>
            </div>
            {{ include('personalmedico/_form.html.twig', {'button_label': 'Editar Personal Médico'}) }}
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <!-- Select2 -->
    <script src="{{ asset('page/dashboard/assets/bundles/select2/dist/js/select2.full.min.js') }}"></script>
    <script src="{{ asset('page/dashboard/assets/js/page/forms-advanced-forms.js') }}"></script>
    <script>
    $('#{{ form.cargo.vars.id }}').on('change', function (e) {
            var data = {
                cargo_id: $(this).val()
            };
            $('#{{ form.especialidad.vars.id }}').html('<option>Cargando...</option>');
            $('#{{ form.especialidad.vars.id }}').attr('disabled', 'disabled');
            $.ajax({
                type: 'POST',
                url: '{{ path('especialidad_x_cargo') }}',
                async: true,
                data: data,
                success: function (response) {
                    if (response.length !== 0){
                        var option = '<option>Seleccione la Especialidad</option>';
                        $.each(response, function (i, especialidad) {
                            option += '<option value='+ especialidad.id +'>'+ especialidad.nombre +'</option>'
                        });
                        $('#{{ form.especialidad.vars.id }}').html(option);
                        $('#{{ form.especialidad.vars.id }}').removeAttr('disabled');
                    } else {
                        var option = '<option>No hay Especialidades en este Cargo.</option>';
                        $('#{{ form.especialidad.vars.id }}').html(option);
                        $('#{{ form.especialidad.vars.id }}').attr('disabled', 'disabled');
                        noty({
                            text: 'No se encontraron Especialidades en el Cargo seleccionado.',
                            layout: 'topRight', type: 'error', timeout: 5000,
                        });
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
    });
    </script>
{% endblock %}