{% extends 'base-dashboard.html.twig' %}
{% block title %}Listado Personal Entidad{% endblock %}
{% block head %}
    <!-- modal efect css -->
    <link href="{{ asset('page/dashboard/modal/css/component.css') }}" rel="stylesheet">
    <!-- Switchery -->
    <link href="{{ asset('page/dashboard/switchery/dist/switchery.min.css') }}" rel="stylesheet">
    <!-- Data Table Css -->
    <link rel="stylesheet" href="{{ asset('page/dashboard/assets/bundles/datatables/datatables.min.css') }}">
    <link rel="stylesheet" href="{{ asset('page/dashboard/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css') }}">
    <!-- Notifications -->
    <link rel="stylesheet" type="text/css" href="{{ asset('page/dashboard/noty/animate/animate.css') }}"/>
{% endblock %}
{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-list"></i> Listado Personal Entidad</li>
        </ol>
    </nav>

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4><strong>Listado</strong> Personales Entidad</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped" id="simpletablet">
                        <thead>
                        <tr>
                            <th>No. Registro</th>
                            <th>CI</th>
                            <th>Nombre y Apellidos</th>
                            <th>Cargo</th>
                            <th><center>Denegar Acceso</center></th>
                            <th class="nosort">&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ca in personalmedico %}
                            <tr>
                                <td>{{ ca.noregistro }}</td>
                                <td>{{ ca.ci }}</td>
                                <td>{{ ca.nombreCompleto }}</td>
                                <td>{{ ca.cargo }}</td>
                                <td>
                                    <center><input type="checkbox" data-value="{{ ca.id }}"
                                                   class="js-small-personal" {% if ca.esDenegar %} checked {% endif %}></center>
                                </td>
                                <td>
                                    <div class="dropdown d-inline">
                                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Acción
                                        </button>
                                        <div class="dropdown-menu">
                                            <button class="dropdown-item mostrar" value="{{ path('personalmedico_show', {'id': ca.id}) }}" data-toggle="tooltip" title="Mostrar"><i class="far fa-eye"></i> Mostrar</button>
                                            <button class="dropdown-item editar" value="{{ path('personalmedico_edit', {'id': ca.id}) }}" data-toggle="tooltip" title="Editar"><i class="fa fa-edit"></i> Editar</button>
                                            <button class="dropdown-item eliminar" value="{{ path('personalmedico_remove', {'id': ca.id}) }}" data-toggle="tooltip" title="Eliminar"><i class="fa fa-trash-alt"></i> Eliminar</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <a class="btn btn-primary" type="button" href="{{ path('personalmedico_new') }}"><i class="fa fa-plus"></i> Añadir Personal</a>
        <a class="btn btn-warning" type="button" href="{{ path('personalmedico_index') }}"><i class="fa fa-cloud"></i> Actualizar</a>
    </div>

    <div class="md-modal md-effect-1" id="modal-19">
        <div class="md-content md-content-white">
            <h3><i class="icofont icofont-warning"></i> Advertencia</h3>
            <div>
                <h4 id="mensaje"></h4>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-3">
                    <button class="btn btn-primary aceptar">Aceptar</button>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-danger cancelar" onclick="$('#modal-19').removeClass('md-show')">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="md-overlay"></div>

    <div class="modal fade" id="modal-mostrar-entity" tabindex="-1" role="dialog" aria-labelledby="demoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="demoModalLabel"><strong>Mostrar</strong> Categoría Plato</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" id="modal-form-mostrar-entity">
                    <div class="item" ld="spinner" data-name="dual-ring">
                        <div class="lds-dual-ring">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <!-- Switchery -->
    <script src="{{ asset('page/dashboard/switchery/dist/switchery.min.js') }}"></script>
    <!-- JS Libraies -->
    <script src="{{ asset('page/dashboard/assets/bundles/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('page/dashboard/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('page/dashboard/assets/bundles/jquery-ui/jquery-ui.min.js') }}"></script>
    <!-- Page Specific JS File -->
    <script src="{{ asset('page/dashboard/assets/js/page/datatables.js') }}"></script>
    <!-- modal efect js -->
    <script src="{{ asset('page/dashboard/modal/js/modalEffects.js') }}"></script>
    <script src="{{ asset('page/dashboard/modal/js/classie.js') }}"></script>
    <!-- jQuery Notification Plugin 2.2.7 -->
    <script type="text/javascript" src="{{ asset('page/dashboard/noty/animate/jquery.noty.packaged.js') }}"></script>
    <script>
        $(function () {
            {% for notice_level in ['success','error','info', 'warning'] %}
            {% set session_var = 'app_' ~ notice_level %}
            {% if app.session.flashbag.has(session_var) %}
            {% for flash in app.session.flashbag.get(session_var) %}
            noty({
                text: '{{ flash }}',
                progressBar : true,
                layout      : 'topRight',
                dismissQueue: true,
                timeout     : 5000,
                closeWith   : ['click'],
                theme       : 'relax',
                type        : '{{ notice_level }}',
                maxVisible  : 10,
                animation   : {
                    open  : 'animated bounceInRight',
                    close : 'animated bounceOutRight',
                    easing: 'swing',
                    speed : 500
                }
            });
            {% endfor %}
            {% endif %}
            {% endfor %}
        });

        var dataTable = $('#simpletablet').DataTable({
            language: {
                oPaginate: {
                    sNext: '<i class="fa fa-forward"></i>',
                    sPrevious: '<i class="fa fa-backward"></i>',
                    sFirst: '<i class="fa fa-step-backward"></i>',
                    sLast: '<i class="fa fa-step-forward"></i>'
                }
            },

            drawCallback: function (row, data, dataIndex) {

            $('.editar').on('click', function () {
                var link = $(this).val();
                $('#modal-19').addClass('md-show');
                $('#mensaje').text('¿Estas seguro que quieres editar este Personal de la Entidad?');
                $('.aceptar').on('click', function () {
                    window.location = link;
                });
            });

            $('.eliminar').on('click', function () {
                var link = $(this).val();
                $('#modal-19').addClass('md-show');
                $('#mensaje').text('¿Estas seguro que quieres eliminar este Personal de la Entidad?');
                $('.aceptar').on('click', function () {
                    window.location = link;
                });
            });

            $('.mostrar').on('click', function () {
                window.location = $(this).val();
            });

            var elemst = Array.prototype.slice.call(document.querySelectorAll('.js-small-personal'));

                elemst.forEach(function (html) {
                    if (!html.dataset.switchery) {
                        var switchery = new Switchery(html, {color: '#4680ff', jackColor: '#fff', size: 'small'});
                        $(html).on('change', function () {
                            $.ajax({
                                url: '{{ path('change_personal_denegar') }}',
                                path: 'post',
                                data: {value: html.checked, id: $(this).data('value')},
                                success: function (res) {
                                    if (res.response === 'esDenegar') {
                                           window.location = "{{ path('personalmedico_index') }}";
                                    }
                                },
                                error: function (error) {
                                    console.log(error)
                                }
                            })
                        })
                    }
                });
            }
        });
    </script>
{% endblock %}