{% extends 'base-dashboard.html.twig' %}
{% block title %}Listado Modelo Expediente Técnico{% endblock %}
{% block head %}
    <!-- modal efect css -->
    <link href="{{ asset('page/dashboard/modal/css/component.css') }}" rel="stylesheet">
    <!-- Data Table Css -->
    <link rel="stylesheet" href="{{ asset('page/dashboard/assets/bundles/datatables/datatables.min.css') }}">
    <link rel="stylesheet" href="{{ asset('page/dashboard/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css') }}">
    <!-- Notifications -->
    <link rel="stylesheet" type="text/css" href="{{ asset('page/dashboard/noty/animate/animate.css') }}"/>
{% endblock %}
{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-list"></i> Listado Modelo del Expediente Técnico</li>
        </ol>
    </nav>

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4><strong>Listado</strong> Modelo del Expediente Técnico</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped" id="simpletablet">
                        <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Institución</th>
                            <th>Cliente</th>
                            <th>Tipo Equipo</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th class="nosort">&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entities in modelo %}
                            {% if entities.user.institucion == app.user.institucion %}
                            <tr>
                                <td>{{ entities.id }}</td>
                                <td>{{ entities.institucion }}</td>
                                <td>{{ entities.personal2 }}</td>
                                <td>{{ entities.tipomedio }}</td>
                                <td>{{ entities.marca }}</td>
                                <td>{{ entities.modelo }}</td>
                                <td>
                                    <div class="dropdown d-inline">
                                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Acción
                                        </button>
                                        <div class="dropdown-menu">
                                            <button class="dropdown-item mostrar" value="#" data-toggle="tooltip" title="Mostrar"><i class="far fa-eye"></i> Mostrar</button>
                                            <button class="dropdown-item editar" value="{{ path('modelotecnico_edit', {'id': entities.id}) }}" data-toggle="tooltip" title="Editar"><i class="fa fa-edit"></i> Editar</button>
                                            <button class="dropdown-item eliminar" value="{{ path('modelotecnico_remove', {'id': entities.id}) }}" data-toggle="tooltip" title="Eliminar"><i class="fa fa-trash-alt"></i> Eliminar</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <a class="btn btn-primary" type="button" href="{{ path('modelotecnico_new') }}"><i class="fa fa-plus"></i> Añadir Modelo Técnico</a>
        <a class="btn btn-warning" type="button" href="{{ path('modelotecnico_index') }}"><i class="fa fa-cloud"></i> Actualizar</a>
    </div>

    <div class="md-modal md-effect-1" id="modal-19">
        <div class="md-content md-content-white">
            <h3><i class="icofont icofont-warning"></i> Advertencia</h3>
            <div>
                <h4 id="mensaje"></h4>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-3">
                    <button class="btn btn-primary aceptar">Aceptar</button>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-danger cancelar" onclick="$('#modal-19').removeClass('md-show')">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="md-overlay"></div>
{% endblock %}
{% block javascript %}
    <!-- JS Libraies -->
    <script src="{{ asset('page/dashboard/assets/bundles/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('page/dashboard/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('page/dashboard/assets/bundles/jquery-ui/jquery-ui.min.js') }}"></script>
    <!-- Page Specific JS File -->
    <script src="{{ asset('page/dashboard/assets/js/page/datatables.js') }}"></script>
    <!-- modal efect js -->
    <script src="{{ asset('page/dashboard/modal/js/modalEffects.js') }}"></script>
    <script src="{{ asset('page/dashboard/modal/js/classie.js') }}"></script>
    <!-- jQuery Notification Plugin 2.2.7 -->
    <script type="text/javascript" src="{{ asset('page/dashboard/noty/animate/jquery.noty.packaged.js') }}"></script>
    <script>
        $(function () {
            {% for notice_level in ['success','error','info', 'warning'] %}
            {% set session_var = 'app_' ~ notice_level %}
            {% if app.session.flashbag.has(session_var) %}
            {% for flash in app.session.flashbag.get(session_var) %}
            noty({
                text: '{{ flash }}',
                progressBar : true,
                layout      : 'topRight',
                dismissQueue: true,
                timeout     : 5000,
                closeWith   : ['click'],
                theme       : 'relax',
                type        : '{{ notice_level }}',
                maxVisible  : 10,
                animation   : {
                    open  : 'animated bounceInRight',
                    close : 'animated bounceOutRight',
                    easing: 'swing',
                    speed : 500
                }
            });
            {% endfor %}
            {% endif %}
            {% endfor %}
        });

        var dataTable = $('#simpletablet').DataTable({
            language: {
                oPaginate: {
                    sNext: '<i class="fa fa-forward"></i>',
                    sPrevious: '<i class="fa fa-backward"></i>',
                    sFirst: '<i class="fa fa-step-backward"></i>',
                    sLast: '<i class="fa fa-step-forward"></i>'
                }
            },

            drawCallback: function (row, data, dataIndex) {

                $('.editar').on('click', function () {
                    var link = $(this).val();
                    $('#modal-19').addClass('md-show');
                    $('#mensaje').text('¿Estas seguro que quieres editar este Modelo del Expediente Técnico?');
                    $('.aceptar').on('click', function () {
                        window.location = link;
                    });
                });

                $('.eliminar').on('click', function () {
                    var link = $(this).val();
                    $('#modal-19').addClass('md-show');
                    $('#mensaje').text('¿Estas seguro que quieres eliminar este Modelo del Expediente Técnico?');
                    $('.aceptar').on('click', function () {
                        window.location = link;
                    });
                });

                $('.mostrar').on('click', function () {
                    window.location = $(this).val();
                });
            }
        });
    </script>
{% endblock %}