{% extends 'base-dashboard.html.twig' %}
{% block title %}Añadir Modelo Expediente Técnico{% endblock %}
{% block head %}
    <!-- Select2 -->
    <link rel="stylesheet" href="{{ asset('page/dashboard/assets/bundles/select2/dist/css/select2.min.css') }}">
{% endblock %}
{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-list"></i> Añadir Modelo del Expediente Técnico</li>
        </ol>
    </nav>

    <div class="col-12">
       <div class="card">
          <div class="card-header">
             <h4><strong>Añadir</strong> Modelo del Expediente Técnico</h4>
           </div>
           {{ include('modelotecnico/_form.html.twig') }}
       </div>
    </div>
{% endblock %}
{% block javascript %}
    <!-- Select2 -->
    <script src="{{ asset('page/dashboard/assets/bundles/select2/dist/js/select2.full.min.js') }}"></script>
    <script src="{{ asset('page/dashboard/assets/js/page/forms-advanced-forms.js') }}"></script>
    <script>
    $('#{{ form.provincia.vars.id }}').on('change', function (e) {
            var data = {
                provincia_id: $(this).val()
            };
            $('#{{ form.municipio.vars.id }}').html('<option>Cargando...</option>');
            $('#{{ form.municipio.vars.id }}').attr('disabled', 'disabled');
            $.ajax({
                type: 'POST',
                url: '{{ path('municipiom_x_provinciam') }}',
                async: true,
                data: data,
                success: function (response) {
                    if (response.length !== 0){
                        var option = '<option>Seleccione el Municipio</option>';
                        $.each(response, function (i, municipio) {
                            option += '<option value='+ municipio.id +'>'+ municipio.nombre +'</option>'
                        });
                        $('#{{ form.municipio.vars.id }}').html(option);
                        $('#{{ form.municipio.vars.id }}').removeAttr('disabled');
                    } else {
                        var option = '<option>No hay Municipios en esta Provincia.</option>';
                        $('#{{ form.municipio.vars.id }}').html(option);
                        $('#{{ form.municipio.vars.id }}').attr('disabled', 'disabled');
                        noty({
                            text: 'No se encontraron Municipios de la Provincia seleccionada.',
                            layout: 'topRight', type: 'error', timeout: 5000,
                        });
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

        $('#{{ form.municipio.vars.id }}').on('change', function (e) {
            var data = {
                municipio_id: $(this).val()
            };
            $('#{{ form.institucion.vars.id }}').html('<option>Cargando...</option>');
            $('#{{ form.institucion.vars.id }}').attr('disabled', 'disabled');
            $.ajax({
                type: 'POST',
                url: '{{ path('institucionm_x_municipiom') }}',
                async: true,
                data: data,
                success: function (response) {
                    if (response.length !== 0){
                        var option = '<option>Seleccione la Institución</option>';
                        $.each(response, function (i, institucion) {
                            option += '<option value='+ institucion.id +'>'+ institucion.nombre +'</option>'
                        });
                        $('#{{ form.institucion.vars.id }}').html(option);
                        $('#{{ form.institucion.vars.id }}').removeAttr('disabled');
                    } else {
                        var option = '<option>No hay Instituciones en este Municipio.</option>';
                        $('#{{ form.institucion.vars.id }}').html(option);
                        $('#{{ form.institucion.vars.id }}').attr('disabled', 'disabled');
                        noty({
                            text: 'No se encontraron Instituciones en la Provincia seleccionada.',
                            layout: 'topRight', type: 'error', timeout: 5000,
                        });
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

        $('#{{ form.institucion.vars.id }}').on('change', function (e) {
            var data = {
                institucion_id: $(this).val()
            };
            $('#{{ form.fichatecnica.vars.id }}').html('<option>Cargando...</option>');
            $('#{{ form.fichatecnica.vars.id }}').attr('disabled', 'disabled');
            $.ajax({
                type: 'POST',
                url: '{{ path('ficham_x_institucionm') }}',
                async: true,
                data: data,
                success: function (response) {
                    if (response.length !== 0){
                        var option = '<option>Seleccione la Ficha Técnica</option>';
                        $.each(response, function (i, fichatecnica) {
                            option += '<option value='+ fichatecnica.id +'>'+ fichatecnica.tipoequipo +' '+ fichatecnica.noinventario +'</option>'
                        });
                        $('#{{ form.fichatecnica.vars.id }}').html(option);
                        $('#{{ form.fichatecnica.vars.id }}').removeAttr('disabled');
                    } else {
                        var option = '<option>No hay Ficha Técnica en esta Institución.</option>';
                        $('#{{ form.fichatecnica.vars.id }}').html(option);
                        $('#{{ form.fichatecnica.vars.id }}').attr('disabled', 'disabled');
                        noty({
                            text: 'No se encontraron Fichas Técnicas en la Institución seleccionada.',
                            layout: 'topRight', type: 'error', timeout: 5000,
                        });
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

        $('#{{ form.institucion.vars.id }}').on('change', function (e) {
            var data = {
                institucion_id: $(this).val()
            };
            $('#{{ form.personal1.vars.id }}').html('<option>Cargando...</option>');
            $('#{{ form.personal1.vars.id }}').attr('disabled', 'disabled');
            $.ajax({
                type: 'POST',
                url: '{{ path('personalm_x_institucionm') }}',
                async: true,
                data: data,
                success: function (response) {
                    if (response.length !== 0){
                        var option = '<option>Seleccione el Personal</option>';
                        $.each(response, function (i, personal1) {
                            option += '<option value='+ personal1.id +'>'+ personal1.nombre +' '+ personal1.apellidos +'</option>'
                        });
                        $('#{{ form.personal1.vars.id }}').html(option);
                        $('#{{ form.personal1.vars.id }}').removeAttr('disabled');
                    } else {
                        var option = '<option>No hay Personales en esta Institución.</option>';
                        $('#{{ form.personal1.vars.id }}').html(option);
                        $('#{{ form.personal1.vars.id }}').attr('disabled', 'disabled');
                        noty({
                            text: 'No se encontraron Personales en la Institución seleccionada.',
                            layout: 'topRight', type: 'error', timeout: 5000,
                        });
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

        $('#{{ form.institucion.vars.id }}').on('change', function (e) {
            var data = {
                institucion_id: $(this).val()
            };
            $('#{{ form.personal2.vars.id }}').html('<option>Cargando...</option>');
            $('#{{ form.personal2.vars.id }}').attr('disabled', 'disabled');
            $.ajax({
                type: 'POST',
                url: '{{ path('personalm2_x_institucionm2') }}',
                async: true,
                data: data,
                success: function (response) {
                    if (response.length !== 0){
                        var option = '<option>Seleccione el Personal</option>';
                        $.each(response, function (i, personal2) {
                            option += '<option value='+ personal2.id +'>'+ personal2.nombre +' '+ personal2.apellidos +'</option>'
                        });
                        $('#{{ form.personal2.vars.id }}').html(option);
                        $('#{{ form.personal2.vars.id }}').removeAttr('disabled');
                    } else {
                        var option = '<option>No hay Personales en esta Institución.</option>';
                        $('#{{ form.personal2.vars.id }}').html(option);
                        $('#{{ form.personal2.vars.id }}').attr('disabled', 'disabled');
                        noty({
                            text: 'No se encontraron Personales en la Institución seleccionada.',
                            layout: 'topRight', type: 'error', timeout: 5000,
                        });
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

        $('#{{ form.marca.vars.id }}').on('change', function (e) {
                var data = {
                    marca_id: $(this).val()
                };
                $('#{{ form.modelo.vars.id }}').html('<option>Cargando...</option>');
                $('#{{ form.modelo.vars.id }}').attr('disabled', 'disabled');
                $.ajax({
                    type: 'POST',
                    url: '{{ path('modelom_x_marcam') }}',
                    async: true,
                    data: data,
                    success: function (response) {
                        if (response.length !== 0){
                            var option = '<option>Seleccione el Modelo</option>';
                            $.each(response, function (i, modelo) {
                                option += '<option value='+ modelo.id +'>'+ modelo.nombre +'</option>'
                            });
                            $('#{{ form.modelo.vars.id }}').html(option);
                            $('#{{ form.modelo.vars.id }}').removeAttr('disabled');
                        } else {
                            var option = '<option>No hay Modelos en esta Marca.</option>';
                            $('#{{ form.modelo.vars.id }}').html(option);
                            $('#{{ form.modelo.vars.id }}').attr('disabled', 'disabled');
                            noty({
                                text: 'No se encontraron Modelos en la Marca seleccionada.',
                                layout: 'topRight', type: 'error', timeout: 5000,
                            });
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
        });
    </script>
{% endblock %}