<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Asclepio - {% block title %} {% endblock %}</title>
    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('page/portada/public/assets/img/favicons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('page/portada/public/assets/img/favicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('page/portada/public/assets/img/favicons/favicon-16x16.png') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('page/portada/public/assets/img/favicons/favicon.ico') }}">
    <link rel="manifest" href="{{ asset('page/portada/public/assets/img/favicons/manifest.json') }}">
    <meta name="msapplication-TileImage" content="{{ asset('page/portada/public/assets/img/favicons/mstile-150x150.png') }}">
    <meta name="theme-color" content="#ffffff">
    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="{{ asset('page/portada/public/assets/css/theme.css') }}" rel="stylesheet" />
    {% block head %}

    {% endblock %}
    {% block stylesheets %}

    {% endblock %}
</head>
<body>
<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    {% block nav %}
        {{ include ('blocks/portada/nav.html.twig') }}
    {% endblock %}
    
    {% block banner %}
        {{ include ('blocks/portada/banner.html.twig') }}
    {% endblock %}
    <!-- ============================================-->
    <!-- <section> begin ============================-->
    {% block promoter %}
        {{ include ('blocks/portada/promoter.html.twig') }}
    {% endblock %}
    <!-- <section> close ============================-->
    <!-- ============================================-->
    <!-- ============================================-->
    <!-- <section> begin ============================-->
    {% block service %}
        {{ include ('blocks/portada/service.html.twig') }}
    {% endblock %}
    <!-- <section> close ============================-->
    <!-- ============================================-->
    {% block feature %}
        {{ include ('blocks/portada/feature.html.twig') }}
    {% endblock %}
    <!-- ============================================-->
    <!-- <section> begin ============================-->
    {% block ourprojects %}
        {{ include ('blocks/portada/ourprojects.html.twig') }}
    {% endblock %}
    <!-- <section> close ============================-->
    <!-- ============================================-->
    <!-- ============================================-->
    <!-- <section> begin ============================-->
    {% block ourteam %}
        {{ include ('blocks/portada/ourteam.html.twig') }}
    {% endblock %}
    <!-- <section> close ============================-->
    <!-- ============================================-->
    {% block testimonial %}
        {{ include ('blocks/portada/testimonial.html.twig') }}
    {% endblock %}
    <!-- ============================================-->
    <!-- <section> begin ============================-->
    {% block blog %}
        {{ include ('blocks/portada/blog.html.twig') }}
    {% endblock %}
    <!-- <section> close ============================-->
    <!-- ============================================-->

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    {% block contact %}
        {{ include ('blocks/portada/contact.html.twig') }}
    {% endblock %}
    <section>
        <div class="bg-holder" style="background-image:url({{ asset('page/portada/public/assets/img/illustrations/cta-bg.png') }});background-position:center;background-size:cover;">
        </div>
        <!--/.bg-holder-->

        <div class="bg-holder" style="background-image:url({{ asset('page/portada/public/assets/img/illustrations/cta-bg-1.png') }});background-position:right top;background-size:auto;margin-top:-38px;margin-left:-200px;">
        </div>
        <!--/.bg-holder-->

        <div class="container">
            <div class="row flex-center circle-blend circle-blend-right circle-pink">
                <div class="col-xxl-9 py-5 text-center">
                    <h1 class="fw-bold mb-4 text-gradient fs-6">Exclusively by ThemeWagon</h1>
                    <p class="mb-6 mx-xxl-11">Klean is an elegant HTML5 template and a perfect starting point for your next SaaS oriented site, carefully curated by<span class="fw-bold">ThemeWagon  </span></p><a class="btn hover-top btn-glow btn-klean rounded-pill" href="#">Download Free</a>
                </div>
            </div>
        </div>
    </section>
    {% block footer %}
        {{ include ('blocks/portada/footer.html.twig') }}
    {% endblock %}
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->
<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="{{ asset('page/portada/public/vendors/@popperjs/popper.min.js') }}"></script>
<script src="{{ asset('page/portada/public/vendors/bootstrap/bootstrap.min.js') }}"></script>
<script src="{{ asset('page/portada/public/vendors/is/is.min.js') }}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="{{ asset('page/portada/public/vendors/feather-icons/feather.min.js') }}"></script>
<script>
    feather.replace();
</script>
<script src="{{ asset('page/portada/public/assets/js/theme.js') }}"></script>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
</body>
</html>