{% extends 'base-dashboard.html.twig' %}
{% block title %}{{ controller_name }}{% endblock %}
{% block head %}
    <!-- General CSS Files -->
    <link rel="stylesheet" href="{{ asset('page/dashboard/assets/bundles/bootstrap-social/bootstrap-social.css') }}">
    <link rel="stylesheet" href="{{ asset('page/dashboard/assets/bundles/owlcarousel2/dist/assets/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('page/dashboard/assets/bundles/owlcarousel2/dist/assets/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ asset('page/dashboard/assets/bundles/summernote/summernote-bs4.css') }}">
{% endblock %}
{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><i class="far fa-file"></i> Datos Generales</li>
        </ol>
    </nav>
    <hr>
    <div class="row ">
        <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-purple">
                <div class="card-statistic-3">
                    <div class="card-icon card-icon-large"><i class="fa fa-globe"></i></div>
                    <div class="card-content">
                        <h4 class="card-title">Paises</h4>
                        <span>{{ paiss | length }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-purple">
                <div class="card-statistic-3">
                    <div class="card-icon card-icon-large"><i class="fa fa-globe"></i></div>
                    <div class="card-content">
                        <h4 class="card-title">Provincias</h4>
                        <span>{{ provinciass | length }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-purple">
                <div class="card-statistic-3">
                    <div class="card-icon card-icon-large"><i class="fa fa-globe"></i></div>
                    <div class="card-content">
                        <h4 class="card-title">Municipios</h4>
                        <span>{{ municipioss | length }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-purple">
                <div class="card-statistic-3">
                    <div class="card-icon card-icon-large"><i class="fa fa-globe"></i></div>
                    <div class="card-content">
                        <h4 class="card-title">Nacionalidades</h4>
                        <span>{{ nacionalidadess | length }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row ">
        <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-cyan">
                <div class="card-statistic-3">
                    <div class="card-icon card-icon-large"><i class="fa fa-briefcase"></i></div>
                    <div class="card-content">
                        <h4 class="card-title">Categorías Docente</h4>
                        <span>{{ categoriasdocentess | length }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-cyan">
                <div class="card-statistic-3">
                    <div class="card-icon card-icon-large"><i class="fa fa-briefcase"></i></div>
                    <div class="card-content">
                        <h4 class="card-title">Categorías Científicas</h4>
                        <span>{{ categoriascientificass | length }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row ">
        <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-cyan">
                <div class="card-statistic-3">
                    <div class="card-icon card-icon-large"><i class="fa fa-briefcase"></i></div>
                    <div class="card-content">
                        <h4 class="card-title">Cargos u Ocupación</h4>
                        <span>{{ cargoss | length }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-cyan">
                <div class="card-statistic-3">
                    <div class="card-icon card-icon-large"><i class="fa fa-briefcase"></i></div>
                    <div class="card-content">
                        <h4 class="card-title">Especialidad</h4>
                        <span>{{ especialidadess | length }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-cyan">
                <div class="card-statistic-3">
                    <div class="card-icon card-icon-large"><i class="fa fa-briefcase"></i></div>
                    <div class="card-content">
                        <h4 class="card-title">Organización Política</h4>
                        <span>3</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}
{% block javascript %}
    <script src="{{ asset('page/dashboard/assets/bundles/owlcarousel2/dist/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('page/dashboard/assets/bundles/summernote/summernote-bs4.js') }}"></script>
    <!-- Page Specific JS File -->
    <script src="{{ asset('page/dashboard/assets/js/page/widget-data.js') }}"></script>
{% endblock %}