{% extends 'base-dashboard.html.twig' %}
{% block title %}Dashboard{% endblock %}
{% block body %}
  <div class="row ">
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-statistic-4">
          <div class="align-items-center justify-content-between">
            <div class="row ">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                <div class="card-content">
                  <h5 class="font-15">Ficha Técnica</h5>
                  <h2 class="mb-3 font-18">{{ fichastecnica | length }}</h2>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                <div class="banner-img">
                  <img src="{{ asset('page/dashboard/assets/img/banner/1.png') }}" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-statistic-4">
          <div class="align-items-center justify-content-between">
            <div class="row ">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                <div class="card-content">
                  <h5 class="font-15">Contrato Internet</h5>
                  <h2 class="mb-3 font-18">{{ contratosinternet | length }}</h2>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                <div class="banner-img">
                  <img src="{{ asset('page/dashboard/assets/img/banner/2.png') }}" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-statistic-4">
          <div class="align-items-center justify-content-between">
            <div class="row ">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                <div class="card-content">
                  <h5 class="font-15">Contraro Anclaje</h5>
                  <h2 class="mb-3 font-18">{{ contratosanclaje | length }}</h2>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                <div class="banner-img">
                  <img src="{{ asset('page/dashboard/assets/img/banner/3.png') }}" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-statistic-4">
          <div class="align-items-center justify-content-between">
            <div class="row ">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                <div class="card-content">
                  <h5 class="font-15">Contrato Correo</h5>
                  <h2 class="mb-3 font-18">
                    {% for entities in contratoco %}
                      {% if entities.user.institucion == app.user.institucion %}
                        {{ contratoco | length }}
                      {% else %}
                        0
                      {% endif %}
                    {% endfor %}
                  </h2>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                <div class="banner-img">
                  <img src="{{ asset('page/dashboard/assets/img/banner/4.png') }}" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
      <div class="card card-statistic-1">
        <div class="card-icon l-bg-purple">
          <i class="fas fa-money-check"></i>
        </div>
        <div class="card-wrap">
          <div class="padding-20">
            <div class="text-right">
              <h3 class="font-light mb-0">
                <i class="ti-arrow-up text-success"></i>
                {% for sistema in sistemac %}
                  {% if sistema.getUser().getInstitucion() == app.user.institucion %}
                    {{ sistemac | length }}
                  {% else %}
                    0
                  {% endif %}
                {% endfor %}
              </h3>
              <span class="text-muted">Sistema Contable</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
      <div class="card card-statistic-1">
        <div class="card-icon l-bg-green">
          <i class="fas fa-archive"></i>
        </div>
        <div class="card-wrap">
          <div class="padding-20">
            <div class="text-right">
              <h3 class="font-light mb-0">
                <i class="ti-arrow-up text-success"></i>
                {% for medio in mediot %}
                  {% if medio.getUser().getInstitucion() == app.user.institucion %}
                    {{ mediot | length }}
                  {% else %}
                    0
                  {% endif %}
                {% endfor %}
              </h3>
              <span class="text-muted">Control Medios</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
      <div class="card card-statistic-1">
        <div class="card-icon l-bg-cyan">
          <i class="fas fa-book-medical"></i>
        </div>
        <div class="card-wrap">
          <div class="padding-20">
            <div class="text-right">
              <h3 class="font-light mb-0">
                <i class="ti-arrow-up text-success"></i>
                {% for entities in direccion %}
                    {{ direccion | length }}
                {% endfor %}
              </h3>
              <span class="text-muted">Registro Ip</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
      <div class="card card-statistic-1">
        <div class="card-icon l-bg-orange">
          <i class="fas fa-user-check"></i>
        </div>
        <div class="card-wrap">
          <div class="padding-20">
            <div class="text-right">
              <h3 class="font-light mb-0">
                <i class="ti-arrow-up text-success"></i>
                {% for entities in modelot %}
                  {% if entities.getInstitucion().getId() == app.user.institucion.id %}
                    {{ modelot | length }}
                  {% else %}
                    0
                  {% endif %}
                {% endfor %}
              </h3>
              <span class="text-muted">Modelo Expe.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>Nuevo Personal Médico</h4>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-striped">
              <tr>
                <th>No. Registro</th>
                <th>CI</th>
                <th>Nombre y Apellidos</th>
                <th>Cargo</th>
                <th>Especialidad</th>
                <th>Acción</th>
              </tr>
              {% for pm in personalm %}
                  <tr>
                    <td>{{ pm.noregistro }}</td>
                    <td>{{ pm.ci }}</td>
                    <td>{{ pm.NombreCompleto }}</td>
                    <td>{{ pm.cargo }}</td>
                    <td>{{ pm.especialidad }}</td>
                    <td><a href="{{ path('personalmedico_show', {'id': pm.id}) }}" class="btn btn-outline-primary">Detalles</a></td>
                  </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-lg-12 col-xl-6">
      <div class="card">
        <div class="card-header">
          <h4>Contrato Correo</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover mb-0">
              <thead>
              <tr>
                <th>#</th>
                <th>Fecha</th>
                <th>Solicitante</th>
                <th>Login</th>
                <th>Institución</th>
              </tr>
              </thead>
              <tbody>
              {% for entities in contratoc %}
                {% if entities.getUser().getInstitucion() == app.user.institucion %}
                <tr>
                  <td>{{ entities.codigo }}</td>
                  <td>{{ entities.fecha | date('d/m/Y') }}</td>
                  <td>{{ entities.personal1 }}</td>
                  <td>{{ entities.login }}</td>
                  <td>{{ entities.institucion }}</td>
                </tr>
                {% endif %}
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% if contratoco %}
        <a href="{{ path('contratocorreo_index') }}" class="card-footer card-link text-center small ">Ver todo</a>
        {% endif %}
      </div>
    </div>

    <div class="col-md-6 col-lg-12 col-xl-6">
      <div class="card">
        <div class="card-header">
          <h4>Contrato Anclaje</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover mb-0">
              <thead>
              <tr>
                <th>#</th>
                <th>Fecha</th>
                <th>Login</th>
                <th>Solicitante</th>
                <th>Institución</th>
              </tr>
              </thead>
              <tbody>
              {% for entities in contratoa %}
                <tr>
                  <td>{{ entities.codigo }}</td>
                  <td>{{ entities.fecha | date('d/m/Y') }}</td>
                  <td>{{ entities.login }}</td>
                  <td>{{ entities.personal1 }}</td>
                  <td>{{ entities.institucion }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <a href="javascript:void(0)" class="card-footer card-link text-center small ">Ver todo</a>
      </div>
    </div>
  </div>
{% endblock %}
