{{ form_start(form) }}
<div class="card-body">
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Fecha <span class="required">*</span> :</label>
        <div class="col-sm-7">
            {{ form_widget(form.fecha, { 'attr': { 'class': 'form-control', 'type': 'date' }}) }}
        </div>
        <div class="col-2">
            {% if(form_errors(form.fecha)) %}
                <div class="buttons">
                    <a href="#" class="btn btn-icon btn-warning" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ form_errors(form.fecha)  }}"><i
                                class="fas fa-exclamation-triangle"></i></a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Folio <span class="required">*</span> :</label>
        <div class="col-sm-7">
            {{ form_widget(form.folio, { 'attr': { 'class': 'form-control', 'required': 'required', 'placeholder': 'Folio del Contrato' } }) }}
        </div>
        <div class="col-2">
            {% if(form_errors(form.folio)) %}
                <div class="buttons">
                    <a href="#" class="btn btn-icon btn-warning" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ form_errors(form.folio)  }}"><i
                                class="fas fa-exclamation-triangle"></i></a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Provincia <span class="required">*</span> :</label>
        <div class="col-sm-7">
            {{ form_widget(form.provincia, { 'attr': { 'class': 'form-control select2', 'required': 'required' } }) }}
        </div>
        <div class="col-2">
            {% if(form_errors(form.provincia)) %}
                <div class="buttons">
                    <a href="#" class="btn btn-icon btn-warning" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ form_errors(form.provincia)  }}"><i
                                class="fas fa-exclamation-triangle"></i></a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Municipio <span class="required">*</span> :</label>
        <div class="col-sm-7">
            {{ form_widget(form.municipio, { 'attr': { 'class': 'form-control select2', 'required': 'required' } }) }}
        </div>
        <div class="col-2">
            {% if(form_errors(form.municipio)) %}
                <div class="buttons">
                    <a href="#" class="btn btn-icon btn-warning" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ form_errors(form.municipio)  }}"><i
                                class="fas fa-exclamation-triangle"></i></a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Institución <span class="required">*</span> :</label>
        <div class="col-sm-7">
            {{ form_widget(form.institucion, { 'attr': { 'class': 'form-control select2', 'required': 'required' } }) }}
        </div>
        <div class="col-2">
            {% if(form_errors(form.institucion)) %}
                <div class="buttons">
                    <a href="#" class="btn btn-icon btn-warning" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ form_errors(form.institucion)  }}"><i
                                class="fas fa-exclamation-triangle"></i></a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Solicitante <span class="required">*</span> :</label>
        <div class="col-sm-7">
            {{ form_widget(form.personal1, { 'attr': { 'class': 'form-control select2', 'required': 'required', 'placeholder': 'Nombre y Apellidos del Solicitante' } }) }}
        </div>
        <div class="col-2">
            {% if(form_errors(form.personal1)) %}
                <div class="buttons">
                    <a href="#" class="btn btn-icon btn-warning" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ form_errors(form.personal1)  }}"><i
                                class="fas fa-exclamation-triangle"></i></a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Teléfono :</label>
        <div class="col-sm-7">
            {{ form_widget(form.telefono, { 'attr': { 'class': 'form-control', 'placeholder': 'Teléfono del Solicitante' } }) }}
        </div>
        <div class="col-2">
            {% if(form_errors(form.telefono)) %}
                <div class="buttons">
                    <a href="#" class="btn btn-icon btn-warning" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ form_errors(form.telefono)  }}"><i
                                class="fas fa-exclamation-triangle"></i></a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Director de la Institución <span class="required">*</span> :</label>
        <div class="col-sm-7">
            {{ form_widget(form.personal2, { 'attr': { 'class': 'form-control select2', 'required': 'required', 'placeholder': 'Director de la Institución' } }) }}
        </div>
        <div class="col-2">
            {% if(form_errors(form.personal2)) %}
                <div class="buttons">
                    <a href="#" class="btn btn-icon btn-warning" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ form_errors(form.personal2)  }}"><i
                                class="fas fa-exclamation-triangle"></i></a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Servicio de Correo <span class="required">*</span> :</label>
        <div class="col-sm-7">
            {{ form_widget(form.serviciocorreo, { 'attr': { 'class': 'form-control select2', 'required': 'required', 'placeholder': 'Servicio de Correo' } }) }}
        </div>
        <div class="col-2">
            {% if(form_errors(form.serviciocorreo)) %}
                <div class="buttons">
                    <a href="#" class="btn btn-icon btn-warning" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ form_errors(form.serviciocorreo)  }}"><i
                                class="fas fa-exclamation-triangle"></i></a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Acceso a las Redes <span class="required">*</span> :</label>
        <div class="col-sm-7">
            {{ form_widget(form.accesoredes, { 'attr': { 'class': 'form-control select2', 'required': 'required', 'placeholder': 'Acceso a las Redes' } }) }}
        </div>
        <div class="col-2">
            {% if(form_errors(form.accesoredes)) %}
                <div class="buttons">
                    <a href="#" class="btn btn-icon btn-warning" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ form_errors(form.accesoredes)  }}"><i
                                class="fas fa-exclamation-triangle"></i></a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Login <span class="required">*</span> :</label>
        <div class="col-sm-7">
            {{ form_widget(form.login, { 'attr': { 'class': 'form-control', 'required': 'required', 'placeholder': 'Login del Solicitante' } }) }}
        </div>
        <div class="col-2">
            {% if(form_errors(form.login)) %}
                <div class="buttons">
                    <a href="#" class="btn btn-icon btn-warning" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ form_errors(form.login)  }}"><i
                                class="fas fa-exclamation-triangle"></i></a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Contraseña <span class="required">*</span> :</label>
        <div class="col-sm-7">
            {{ form_widget(form.pass, { 'attr': { 'class': 'form-control', 'required': 'required', 'placeholder': 'Contraseña del Solicitante' } }) }}
        </div>
        <div class="col-2">
            {% if(form_errors(form.pass)) %}
                <div class="buttons">
                    <a href="#" class="btn btn-icon btn-warning" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ form_errors(form.pass)  }}"><i
                                class="fas fa-exclamation-triangle"></i></a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="card-footer text-right">
    <button type="submit" class="btn btn-primary mr-2">{{ button_label|default('Añadir Contrato Internet') }}</button>
    <a class="btn btn-light" href="{{ path('contratointernet_index') }}">Volver al Listado</a>
</div>
{{ form_end(form) }}