{% extends 'base-dashboard.html.twig' %}
{% block title %}Perfil Usuario{% endblock %}
{% block body %}
    <div class="section-body">
        <div class="row mt-sm-4">
            <div class="col-12 col-md-12 col-lg-4">
                <div class="card author-box">
                    <div class="card-body">
                        <div class="author-box-center">
                            {% for use in usuarios%}
                                {% if use.image != null  and app.user.email == use.email %}
                                    <img alt="image" src="{{ vich_uploader_asset(use, 'imageFile', 'App\\Entity\\User') }}" class="rounded-circle author-box-picture">
                                {% elseif use.image == null and app.user.email == use.email %}
                                    <img alt="image" src="{{ asset('page/dashboard/assets/img/users/user-0.png') }}" class="rounded-circle author-box-picture">
                                {% endif %}
                            {% endfor %}
                            <div class="clearfix"></div>
                            <div class="author-box-name">
                                <br><a href="#">{{ app.user.fullname }}</a></br>
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="author-box-description">
                                <p>
                                    {{ app.user.institucion }}
                                    {{ app.user.email }}
                                </p>
                            </div>
                            <div class="w-100 d-sm-none"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-lg-8">
                <div class="card">
                    <div class="padding-20">
                        <ul class="nav nav-tabs" id="myTab2" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab2" data-toggle="tab" href="#about" role="tab"
                                   aria-selected="true">Setting</a>
                            </li>
                        </ul>
                        <div class="tab-content tab-bordered" id="myTab3Content">
                            <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="home-tab2">
                                <form method="post" class="needs-validation">
                                    <div class="card-header">
                                        <h4>Editar Perfil</h4>
                                    </div>
                                    {{ form_start(form) }}
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Nombre y Apellidos <span class="required">*</span> :</label>
                                            <div class="col-sm-6">
                                                {{ form_widget(form.fullName, { 'attr': { 'class': 'form-control', 'required': 'required', 'placeholder': 'Nombre Completo' } }) }}
                                            </div>
                                            <div class="col-2">
                                                {% if(form_errors(form.fullName)) %}
                                                    <div class="buttons">
                                                        <a href="#" class="btn btn-icon btn-warning" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ form_errors(form.fullName)  }}"><i
                                                                    class="fas fa-exclamation-triangle"></i></a>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Email <span class="required">*</span> :</label>
                                            <div class="col-sm-6">
                                                {{ form_widget(form.email, { 'attr': { 'class': 'form-control', 'required': 'required', 'placeholder': 'Correo Electrónico' } }) }}
                                            </div>
                                            <div class="col-2">
                                                {% if(form_errors(form.email)) %}
                                                    <div class="buttons">
                                                        <a href="#" class="btn btn-icon btn-warning" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ form_errors(form.email)  }}"><i
                                                                    class="fas fa-exclamation-triangle"></i></a>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Password <span class="required">*</span> :</label>
                                            <div class="col-sm-6">
                                                {{ form_widget(form.password.first, { 'attr': { 'class': 'form-control', 'required': 'required', 'placeholder': 'Contraseña' } }) }}
                                                <small id="passwordHelpBlock" class="form-text text-muted">
                                                    Su contraseña debe tener entre 8 y 20 caracteres, contener letras y números, y no debe contener espacios, caracteres especiales o emoji.
                                                </small>
                                            </div>
                                            <div class="col-2">
                                                {% if(form_errors(form.password.first)) %}
                                                    <div class="buttons">
                                                        <a href="#" class="btn btn-icon btn-warning" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ form_errors(form.password.first)  }}"><i
                                                                    class="fas fa-exclamation-triangle"></i></a>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Password Repeat <span class="required">*</span> :</label>
                                            <div class="col-sm-6">
                                                {{ form_widget(form.password.second, { 'attr': { 'class': 'form-control', 'required': 'required', 'placeholder': 'Contraseña' } }) }}
                                            </div>
                                            <div class="col-2">
                                                {% if(form_errors(form.password.second)) %}
                                                    <div class="buttons">
                                                        <a href="#" class="btn btn-icon btn-warning" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ form_errors(form.password.second)  }}"><i
                                                                    class="fas fa-exclamation-triangle"></i></a>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Imagen :</label>
                                            <div class="col-sm-6">
                                                {{ form_widget(form.imageFile) }}
                                                {% if user.image != null %}
                                                    <img src="{{ vich_uploader_asset(user, 'imageFile', 'App\\Entity\\User') }}" width="260" height="190">
                                                {% endif %}
                                            </div>
                                            <div class="col-2">
                                                {% if(form_errors(form.imageFile)) %}
                                                    <div class="buttons">
                                                        <a href="#" class="btn btn-icon btn-warning" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ form_errors(form.imageFile)  }}"><i
                                                                    class="fas fa-exclamation-triangle"></i></a>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer text-right">
                                        <button class="btn btn-primary">Actualizar Perfil</button>
                                    </div>
                                    {{ form_end(form) }}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}